<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgDRbf6hcGwgQfqOrw13XFXBV8CnRclTk</string>
	<key>GCM_SENDER_ID</key>
	<string>774436924354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navigateToNextScreen</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-b124b</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-b124b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774436924354:ios:62984b01a394ba806c045b</string>
</dict>
</plist>